.app-embed {
  display: flex;
}

.app-embed > .left {
  width: 55%;
}

.app-embed > .right {
  width: 45%;
}

.file-tabs {
  /* background: #fff;
  border-bottom: 1px solid #f0f0f0; */
}

.file-tabs span {
  display: inline-block;
  box-sizing: content-box;
  /* border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0; */
  /* background: #f4f4f4; */
  padding: 4px 5px 3px 5px;
  margin: 0 3px;
}

.address-bar {
  padding: 3px 5px;
  /* background: #eee; */
}

.address-bar code {
  display: inline-block;
  /* color: #555; */
  padding: 2px 8px;
  border-radius: 1em;
  /* background: #fff; */
  font-size: 13px;
}

.file-contents pre {
  height: 400px;
  overflow-y: scroll;
}

.app-embed {
  font-size: 13px !important;
}

.app-embed iframe {
  box-sizing: border-box;
  /* border: 1px solid #f4f4f4; */
  width: 100%;
  height: 400px;
}